/* 헤더 */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.header-container {
  position: relative;
  /* width: 100%; */
}

/* ------------- */
/* login-bar 영역 */
/* ------------- */
.login-bar {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 34px;
  background-color: var(--color-gray-100);
}
.login-bar-link-list {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 1020px;
  list-style: none;
  font-size: 12px;
}
.login-bar-link {
  margin: 0 8px;
}
.login-bar-link:nth-child(2) {
  margin: 0;
}
.login-bar-link:nth-child(4) {
  position: absolute;
  left: 0;
  margin-right: 0;
}
.login-bar-link:last-child {
  position: absolute;
  left: 64px;
}

/* ------------------- */
/* header-section 영역 */
/* ------------------- */
.header-section {
  position: absolute;
  top: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(213, 191, 191);
}

.button--category {
  position: relative;
  justify-content: center;
  width: 110px;
  height: 116px;
  color: var(--color-white);
  font-size: 12px;
  border: 0;
  background-image: url("/assets/icon/hamburger.svg");
  background-repeat: no-repeat;
  background-position: center 30px;
  background-color: var(--color-blue-600);
}

.button--category p {
  position: absolute;
  bottom: 30px;
  left: 32.5px;
  margin: 0;
  /* background-color: pink; */
  color: var(--color-white);
}

.header-section-right {
  position: relative;
  width: 870px;
  /* width: 100%; */
  height: 116px;
  margin-left: 40px;
  background-color: palegreen;
}

/* ----------------- */
/* header right 상단 */
/* ----------------- */
.header-top {
  position: absolute;
  /* top: -5px; */
  top: 29px;
  display: flex;
  width: 870px;
  height: 58px;
  background-color: rgb(198, 225, 255);
}

.logo {
  width: 176px;
  height: 40px;
  margin: 0;
  /* background-color: #fff; */
  background-image: url("/assets/logo/logo.svg");
  background-size: contain;
}
.logo a {
  overflow: hidden;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  display: inline-block;
}

.header-search-form {
  width: 516px;
  height: 40px;
  margin: 5px 22px 0 30px;
  border: 1px solid var(--color-blue-600);
}

.myCoupang {
  width: 90.94px;
  height: 58px;
  font-size: 12px;
  background-color: yellow;
}

/* ----------------- */
/* header right 하단 */
/* ----------------- */
.myCoupang button {
  width: 100%;
  height: 100%;
  padding: 0;
  padding-top: 40px;
  border: 0;
  background-color: transparent;
  background-image: url("/assets/icon/my-coupang.svg");
  background-repeat: no-repeat;
  /* 가로 세로(높이) */
  background-position: center 7px;
}

.myCoupang ul {
  display: none;
}

.myCoupang ul:active {
  display: block;
}

.cart {
  position: relative;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 45.47px;
  height: 58px;
  /* margin-left: -20.82px; */
  margin-left: -10.41px;
  font-size: 12px;
  background-color: rgba(255, 192, 203, 0.5);
}

.cart button {
  width: 100%;
  height: 100%;
  padding: 0;
  padding-top: 40px;
  border: 0;
  background-color: transparent;
  background-image: url("/assets/icon/cart.svg");
  background-repeat: no-repeat;
  background-position: center 6px;
}

.selected-item-count {
  position: absolute;
  float: top;
  top: 1px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  color: var(--color-white);
  font-size: 12px;
  background-color: var(--color-blue-600);
}

.header-bottom {
  /* position: absolute; */
  position: relative;
  top: 84px;
  /* bottom: 6px; */
  /* margin-top: 118px; */
  margin: 0;
  margin-left: -4px;
  background-color: rgb(254, 253, 205);
}
.header-bottom-link-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 755px;
  height: 26px;
  list-style: none;
}

.header-bottom-link {
  font-size: 12px;
  background-color: pink;
}

.header-bottom-link a {
  margin: 0 14px;
  background-color: skyblue;
}
